<hr>
<h4>Level 4: Aioli (path param)</h4>
<ul>
  <li>Parent: {{#link-to 'bacons.bacon.aiolis'}}https://localhost:4200/bacons/1/aiolis{{/link-to}}</li>
  <li>Self: https://localhost:4200/bacons/1/aiolis/1</li>
  <li>Child: end-node / lead node / no children</li>
</ul>
{{outlet}}
