<hr>
<h3>Level 3: Aiolis</h3>
<ul>
  <li>Parent: {{#link-to 'bacons.bacon'}}https://localhost:4200/bacons/1{{/link-to}}</li>
  <li>Self: https://localhost:4200/bacons/1/aiolis</li>
  <li>Child: {{#link-to 'bacons.bacon.aiolis.aioli' 1}}https://localhost:4200/bacons/1/aiolis/1{{/link-to}}</li>
</ul>
{{outlet}}
