<h1>Level 0: application </h1>
<ul>
  <li>Parent: None / top-level</li>
  <li>Self: {{#link-to 'application'}}https://localhost:4200/{{/link-to}}</li>
  <li>Child: {{#link-to 'bacons'}} https://localhost:4200/bacons{{/link-to}}</li>
</ul>
{{outlet}}
